<div class="container" id="home-container">
    <div class="jumbotron text-center bg-dark text-light home-text">
        <h1 class="display-4 ">Blogify</h1>
        <p class="lead">This is a blog point, a place to find all information about the latest news, health, lifestyle and lots more. Share your post,let the world hear your voice.</p>
        <hr class="my-4">
        <p>The best way to stay informed is to stay connected, we offer just that here, join the fun by signing up using the link below. You are welcome!!!.</p>
        <%=link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>