@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
    background-color: #333333 !important;
}

.navbar-brand {
    font-size: 3rem;
    color: #FFFFFF !important;
}

.home-text {
    font-family: 'Baloo 2', cursive;
}

.nav-link {
    color: #FFFFFF !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
}

// .navbar{
//     display: grid !important;
//     justify-content: space-between;
//     grid-template-columns: repeat(4,1fr);
// }

// .navbar-collapse{
// }

#logo {
    float: left;
    font-size: 2.4em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Monoton', cursive;
}

#home-container {
    margin-top: 25px;
}

.text-center {
    text-align: center;
}

.jumbotron {
    background-color: black;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    height: 425px;
}

.card {

background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
background-size: 110px 200px;
background-repeat: repeat-x;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif
}

#page-content {
    flex: 1 0 auto;
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#sticky-footer {
    flex-shrink: none;
}


.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 7px;
}

.flickr_pagination .disabled {
    color: #aaaaaa;
}

.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}

.flickr_pagination a {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
    border-color: gray;
    background: whitesmoke;
    color: gray;
}

.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
    border-width: 2px;
}

.flickr_pagination .previous_page {
    margin-right: 1em;
}

.flickr_pagination .next_page {
    margin-left: 1em;
}